@media (max-width: 800px) {
    h1 {
        text-align: center;
        line-height: 1;
    }
    
    #navbar {
        justify-content: center;
    }
}

@media (max-width: 500px) {
    #contact .links {
        flex-direction: column;
    }
}