/* COLORS */
/**
BLUE = #57A5FF
DARKER BLUE = #2B5380
SKY BLUE = #A3CEFF
GREY BLUE = #576B82
DARK BLUE = #4584CC
**/

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;600;800&display=swap');
html {
	scroll-behavior: smooth;
}

body {
	font-size: 10px;
	font-family: Catamaran, sans-serif;
}

#navbar {
	background: #a3ceff;
	height: 7em;
	position: fixed;
	width: 100%;
	box-shadow: 0 0 8px #1d252e;
}

#navbar ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#navbar ul li a {
	color: #2b5380;
	font-size: 1.5rem;
	text-decoration: none;
	margin: 0 2em;
}

/** WELCOME SECTION **/

#welcome-section {
	background: linear-gradient(#4584cc, #2b5380);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #a3ceff;
	text-shadow: 0 1px 5px rgb(32, 32, 32);
}

#welcome-section p {
	font-size: 2.5rem;
	font-weight: lighter;
	text-transform: lowercase;
}

#welcome-section h1 {
	font-size: 7rem;
	margin: 20px 0;
	font-weight: bold;
	text-align: center;
}

/** PROJECTS **/

#projects {
	background: #a3ceff;
}

#projects h2 {
	text-align: center;
	color: #2b5380;
	font-size: 2rem;
	padding: 2em 0;
	font-weight: 600;
	margin-top: 50px;
}

#projects div .videos {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 100px;
	padding-left: 50px;
	padding-right: 50px;
}

#projects h3 {
	font-size: 1.5rem;
	text-align: center;
	color: #2b5380;
}

#projects iframe {
	border-top: 10px solid#e6e6e6;
	border-bottom: 10px solid#e6e6e6;
	margin: 2em 0;
	border-radius: 5px;
	box-shadow: 0 4px 8px #1d252e;
}

#projects::before {
	display: block;
	content: "";
	height: 10px;
	visibility: hidden;
	pointer-events: none;
}

#projects .websites {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 1.5rem;
	padding: 2em;
}

/** FOOTER **/

footer#contact {
	background: linear-gradient(#2b5380, #4584cc);
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.5rem;
	color: #a3ceff;
	height: 200px;
}

footer#contact p {
	display: block;
	padding: 2em 0;
}

footer#contact div ul {
	display: flex;
	flex-direction: row;
}

footer#contact div ul li a {
	color: #a3ceff;
	text-decoration: none;
	margin: 1.5em;
}
